/* General */

li {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    letter-spacing: 0.1em;
    list-style: none;
}

p {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    letter-spacing: 0.1em;
    color: white;
}

a {
    color: #f9f9f9;
}

h1 {
    font-family: "PT Sans narrow";
}

/* Images */
.img-top{
    border-radius: 50%;
    width: 200px;
    height: 180px;
}

/* Header Content */

.jumbotron::before {
    content: "";
    padding: 10px;
    background-color: #F22613;
}

.jumbotron {
    position: relative;
    background-color: #F22613;
    transform: skewY(-3deg);
}

.jumbotron p {
    margin: 0 auto;
    width: 60%;
}

.jumbotron h1 {
    font-family: "PT Sans narrow";
    color: #f9f9f9;
    text-align: center;
    font-size: 96px;
    font-weight: 700;
}

.nav {
    
    margin: 0 auto;
    background-color: #F22613;
    color: #a8a8a8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    width: 100%;
}

.nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.nav li {
    list-style: none;
    padding-left: 5rem;
    padding-right:5rem;
}


.container h1 {
    color: #212121;
    text-align: center;
}
/* Demo Section */
.screen-shot{
    text-align: center;
}
.screen-shot ul {
    display: flex;
    flex-direction: row;
}
.screen-shot li {
    margin-left: 1rem;
}

/* Card */
.uk-card
{
    text-align: center;

}
.uk-card a{
    color: blue;
}

/* Developer Section */
.developer-section{
    text-align: center;
}
.developer-section p{
    color: #212121;
}
.developer-section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.developer-section li{
    padding-left: 1rem;
    padding-right:1rem;
}

@media screen and (max-width: 768px) {

    .nav {
        font-size: 1.5rem;
    }
    .nav li{
        padding-left: 1rem;
        padding-right:1rem;
    }

    .screen-shot ul {
        flex-direction: column;

    }
    .screen-shot ul li{
        margin-bottom: 1rem;
    }
    .developer-section ul{
        flex-direction: column;
    }
    .developer-section li{
        margin-bottom: 1rem;
    }


}
